/*Georgios Mouzakis Week2 Homework*/

body{
    text-align: center;
    background-color: aliceblue;
    
}

#grid-flex {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
}

#grid-flex li:nth-of-type(1){
    min-width:45%;
    }

.grid-item {
    margin:2%;
    border: 3px solid #000;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.7); 
    max-width: 19vw;
}

img{
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 18vw;
}

p{
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    padding: 5px;
}

h1, h2{
    text-decoration: underline;
}

@media (min-width: 49px) and (max-width: 411px){
    .grid-item{
        min-width: 115px;
    }
    
    #grid-flex li:nth-of-type(1){
        min-width:88%;
    }
    
    #grid-flex li:nth-of-type(14){
        min-width:88%;
    }
}

@media (min-width: 412px) and (max-width: 638px){
    .grid-item{
        min-width: 40%;
    }
    
    #grid-flex li:nth-of-type(1){
        min-width:90%;
    }
    
    #grid-flex li:nth-of-type(14){
        min-width:90%;
    }
}

@media (min-width: 639px) and (max-width: 1024px){
    .grid-item{
        min-width: 25%;
    }
    
    #grid-flex li:nth-of-type(1){
        min-width:43%;
    }
    
    #grid-flex li:nth-of-type(2){
        min-width:43%;
    }
}
